@model OnlineCoursesWeb.Models.Teacher

@{
    ViewData["Title"] = "Delete";
}

<div class="row center justify-content-center align-items-center">
    <div class="blurred-card col-md-4">
        <h1 class="text-center">Delete teacher</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Name):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Language):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Language)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Course):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Course)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Level):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Level)
            </dd>
        </dl>
        <div class="row justify-content-between m-0">
            <form asp-action="Delete">
                <div class="row">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger mb-3 col-md-12" />
                </div>

                <div class="row">
                    <button onclick="location.href='@Url.Action("Index", "Teacher")'" class="btn btn-warning mb-3 col-md-12">Back to list</button>
                </div>
            </form>
        </div>
    </div>
</div>