@model OnlineCoursesWeb.Models.Teacher

@{ ViewData["Title"] = "Details"; }

<div class="row center justify-content-center align-items-center">
    <div class="blurred-card col-md-4 justify-content-center align-items-center">
        <h1 class="text-center">Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Name):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Language):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Language)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Course):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Course)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Level):
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Level)
            </dd>
        </dl>
        <div>
            <div class="m-0 row">
                <a asp-action="Edit" class="btn btn-warning mb-3 col-md-12" asp-route-id="@Model.Id">Edit</a>
            </div>
            <div class="m-0 row">
                <button type="button" onclick="location.href='@Url.Action("Index", "Teachers")'" class="btn btn-warning mb-3 col-md-12">Back to list</button>
            </div>
        </div>
    </div>
</div>