<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar shadow-lg navbar-expand-md navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img class="bi me-2" width="35" height="35" src="~/icon.png" />
                <a class="navbar-brand text-black" asp-action="Index" asp-controller="Home">Online Courses</a>
                <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item @(ViewBag.Current == "Home" ? "active-nav" : "")">
                            <a href="@Url.Action("Index","Home")" class="nav-link text-dark" target="_self">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item   @(ViewBag.Current == "Teachers" ? "active-nav" : "")">
                                <a href="@Url.Action("Index", "Teachers")" class="nav-link text-dark" target="_self">Teachers</a>
                            </li>
                        }
                        <li class="nav-item @(ViewBag.Current == "Privacy" ? "active-nav" : "")">
                            <a href="@Url.Action("Privacy","Home")" class="nav-link text-dark" target="_self">Privacy</a>
                        </li>
                        <li class="nav-item @(ViewBag.Current == "FAQ" ? "active-nav" : "")">
                            <a href="@Url.Action("FAQ","Home")" class="nav-link text-dark" target="_self">FAQ</a>
                        </li>
                    </ul>
                    <div class="nav-item fw-bold">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-center  text-muted">
        <div class="container">
            &copy; 2022 - Tálas Ádám, Medgyesy Petra, Forszt Mihály
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
