@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="btn btn-warning mb-3 w-100 @(ViewBag.Current == "Profile" ? "active-nav" : "") @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="btn btn-warning mb-3 w-100 @(ViewBag.Current == "Email" ? "active-nav" : "") @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="btn btn-warning mb-3 w-100 @(ViewBag.Current == "Password" ? "active-nav" : "") @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @*@if (hasExternalLogins)
    {
        <li id="external-logins" class="btn btn-warning mb-3 w-100"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="btn btn-warning mb-3 w-100 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>*@
    <li class="nav-item"><a class="btn btn-warning mb-3 w-100 @(ViewBag.Current == "Delete" ? "active-nav" : "") @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
